In [70]:
#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Available features and their descriptions
Case_Id : Storing Unique ids with respect to cases
Hospital_Code : Unique Code for Hospitals in which particular case is being investigated
Hospital_type_code : Unique Code for Type of Hospitals
Hospital_region_code : Region of Hospitals
Available Extra Rooms in Hospital : No. of extra rooms available
Department : Department overlooking the case
Ward_Type : Unique code for ward type
Ward_Facility_Code : Unique code for ward facility
Bed Grade : Condition for Bed in Hospital
Patient_Id : Patient id undergoing current case
City_Code_Patient : City code for the patient
Type_of_Admission : Admission type registered by hospital
Severity of illness : severity recorded at time of admission
Visitors with Patient : No. of visitors with patient
Age : Age of the patient
Admission_Deposit : Deposit at admission time
Stay : Target Variable Stay which depicts no. of days the patient stayed at hospital

In [71]:
raw_train_data = pd.read_csv('/Users/nikhilkarve/Desktop/study/fall2021/FDS/Project/healthcare/data/train_data.csv')
raw_test_data = pd.read_csv('/Users/nikhilkarve/Desktop/study/fall2021/FDS/Project/healthcare/data/test_data.csv')

In [72]:
raw_train_data

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318433,318434,6,a,6,X,3,radiotherapy,Q,F,4.0,86499,23.0,Emergency,Moderate,3,41-50,4144.0,11-20
318434,318435,24,a,1,X,2,anesthesia,Q,E,4.0,325,8.0,Urgent,Moderate,4,81-90,6699.0,31-40
318435,318436,7,a,4,X,3,gynecology,R,F,4.0,125235,10.0,Emergency,Minor,3,71-80,4235.0,11-20
318436,318437,11,b,2,Y,3,anesthesia,Q,D,3.0,91081,8.0,Trauma,Minor,5,11-20,3761.0,11-20
318437,318438,19,a,7,Y,5,gynecology,Q,C,2.0,21641,8.0,Emergency,Minor,2,11-20,4752.0,0-10

#### By observing data we can see that we don't need case_id and hospital_code

In [73]:
raw_train_data.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [74]:
raw_train_data.shape

(318438, 18)

In [75]:
raw_train_data['Admission_Deposit']

0         4911.0
1         5954.0
2         4745.0
3         7272.0
4         5558.0
           ...
318433    4144.0
318434    6699.0
318435    4235.0
318436    3761.0
318437    4752.0
Name: Admission_Deposit, Length: 318438, dtype: float64

#### Displaying data types of every feature available

In [76]:
raw_train_data.dtypes

case_id                                int64
Hospital_code                          int64
Hospital_type_code                    object
City_Code_Hospital                     int64
Hospital_region_code                  object
Available Extra Rooms in Hospital      int64
Department                            object
Ward_Type                             object
Ward_Facility_Code                    object
Bed Grade                            float64
patientid                              int64
City_Code_Patient                    float64
Type of Admission                     object
Severity of Illness                   object
Visitors with Patient                  int64
Age                                   object
Admission_Deposit                    float64
Stay                                  object
dtype: object

In [92]:
cat_features = raw_train_data.select_dtypes(include='object')

In [93]:
cat_features = list(cat_features.columns)

In [94]:
cat_features.append('Hospital_code')
#cat_features.append('City_Code_Hospital')

In [95]:
cat_features.append('Bed Grade')
cat_features.append('City_Code_Patient')

In [96]:
cat_features.append('Available Extra Rooms in Hospital')
cat_features.append('Visitors with Patient')

In [97]:
cat_features.remove(['Bed Grade', 'City_Code_Patient'])

ValueError: list.remove(x): x not in list

#### These are available categorical features in the data

In [83]:
cat_features

['Hospital_type_code',
 'Hospital_region_code',
 'Department',
 'Ward_Type',
 'Ward_Facility_Code',
 'Type of Admission',
 'Severity of Illness',
 'Age',
 'Stay',
 'Hospital_code',
 'Bed Grade',
 'City_Code_Patient',
 'Available Extra Rooms in Hospital',
 'Visitors with Patient']

In [99]:
print('There are total {} categorical features in the data'.format(len(cat_features)))

There are total 14 categorical features in the data

In [100]:
set(list(raw_train_data.columns)) - set(cat_features)

{'Admission_Deposit', 'City_Code_Hospital', 'case_id', 'patientid'}

In [101]:
raw_train_data[cat_features].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Hospital_code,318438.0,18.318841,8.633755,1.0,11.0,19.0,26.0,32.0
Bed Grade,318325.0,2.625807,0.873146,1.0,2.0,3.0,3.0,4.0
City_Code_Patient,313906.0,7.251859,4.745266,1.0,4.0,8.0,8.0,38.0
Available Extra Rooms in Hospital,318438.0,3.197627,1.168171,0.0,2.0,3.0,4.0,24.0
Visitors with Patient,318438.0,3.284099,1.764061,0.0,2.0,3.0,4.0,32.0

In [87]:
#TODO: % missing, Mode, Second Mode, Mode freqn, second mode freqn, Mode %, 2nd Mode %, Cardinality,

In [88]:
raw_train_data['City_Code_Hospital'].unique().sort()

In [102]:
len(cat_features)

14

In [104]:
raw_train_data[cat_features].dtypes

Hospital_type_code                    object
Hospital_region_code                  object
Department                            object
Ward_Type                             object
Ward_Facility_Code                    object
Type of Admission                     object
Severity of Illness                   object
Age                                   object
Stay                                  object
Hospital_code                          int64
Bed Grade                            float64
City_Code_Patient                    float64
Available Extra Rooms in Hospital      int64
Visitors with Patient                  int64
dtype: object

In [107]:
cat_data_desc = raw_train_data[cat_features].describe(include=['object', 'int64', 'float64']).transpose()

In [110]:
cat_data_desc.drop(['mean','std','min','25%','50%', '75%','max'], inplace=True, axis=1)

In [111]:
cat_data_desc

                                      count unique         top    freq
Hospital_type_code                   318438      7           a  143425
Hospital_region_code                 318438      3           X  133336
Department                           318438      5  gynecology  249486
Ward_Type                            318438      6           R  127947
Ward_Facility_Code                   318438      6           F  112753
Type of Admission                    318438      3      Trauma  152261
Severity of Illness                  318438      3    Moderate  175843
Age                                  318438     10       41-50   63749
Stay                                 318438     11       21-30   87491
Hospital_code                      318438.0    NaN         NaN     NaN
Bed Grade                          318325.0    NaN         NaN     NaN
City_Code_Patient                  313906.0    NaN         NaN     NaN
Available Extra Rooms in Hospital  318438.0    NaN         NaN     NaN
Visitors with Patient              318438.0    NaN         NaN     NaN

In [117]:
added_missing_data = pd.DataFrame(raw_train_data[cat_features].isna().sum(), columns=['Missing Values'])

In [122]:
#added_missing_data.reset_index(level=0, inplace=True)
added_missing_data

                                index  Missing Values
0                  Hospital_type_code               0
1                Hospital_region_code               0
2                          Department               0
3                           Ward_Type               0
4                  Ward_Facility_Code               0
5                   Type of Admission               0
6                 Severity of Illness               0
7                                 Age               0
8                                Stay               0
9                       Hospital_code               0
10                          Bed Grade             113
11                  City_Code_Patient            4532
12  Available Extra Rooms in Hospital               0
13              Visitors with Patient               0

In [126]:
added_missing_data.rename(columns = {'index': 'Features'}, inplace=True)

In [127]:
added_missing_data

                             Features  Missing Values
0                  Hospital_type_code               0
1                Hospital_region_code               0
2                          Department               0
3                           Ward_Type               0
4                  Ward_Facility_Code               0
5                   Type of Admission               0
6                 Severity of Illness               0
7                                 Age               0
8                                Stay               0
9                       Hospital_code               0
10                          Bed Grade             113
11                  City_Code_Patient            4532
12  Available Extra Rooms in Hospital               0
13              Visitors with Patient               0

In [128]:
cat_data_desc.reset_index(level=0, inplace=True)

In [129]:
cat_data_desc

                                index     count unique         top    freq
0                  Hospital_type_code    318438      7           a  143425
1                Hospital_region_code    318438      3           X  133336
2                          Department    318438      5  gynecology  249486
3                           Ward_Type    318438      6           R  127947
4                  Ward_Facility_Code    318438      6           F  112753
5                   Type of Admission    318438      3      Trauma  152261
6                 Severity of Illness    318438      3    Moderate  175843
7                                 Age    318438     10       41-50   63749
8                                Stay    318438     11       21-30   87491
9                       Hospital_code  318438.0    NaN         NaN     NaN
10                          Bed Grade  318325.0    NaN         NaN     NaN
11                  City_Code_Patient  313906.0    NaN         NaN     NaN
12  Available Extra Rooms in Hospital  318438.0    NaN         NaN     NaN
13              Visitors with Patient  318438.0    NaN         NaN     NaN

In [134]:
cat_data_desc.rename(columns = {'index': 'Features'}, inplace=True)

In [150]:
cat_data_desc.drop(['unique','top','freq'], inplace=True, axis=1)

In [145]:
unique_vals = pd.DataFrame(raw_train_data.nunique(), columns=['unique'])

In [146]:
unique_vals.reset_index(level=0, inplace=True)
unique_vals.rename(columns = {'index': 'Features'}, inplace=True)

In [147]:
unique_vals

                             Features  unique
0                             case_id  318438
1                       Hospital_code      32
2                  Hospital_type_code       7
3                  City_Code_Hospital      11
4                Hospital_region_code       3
5   Available Extra Rooms in Hospital      18
6                          Department       5
7                           Ward_Type       6
8                  Ward_Facility_Code       6
9                           Bed Grade       4
10                          patientid   92017
11                  City_Code_Patient      37
12                  Type of Admission       3
13                Severity of Illness       3
14              Visitors with Patient      28
15                                Age      10
16                  Admission_Deposit    7300
17                               Stay      11

In [152]:
cat_data_summary = pd.merge(unique_vals, cat_data_desc, on='Features')

In [154]:
cat_data_summary = pd.merge(cat_data_summary, added_missing_data, on='Features')

In [156]:
cat_data_summary['% of missing'] = cat_data_summary['Missing Values']/cat_data_summary['count']

In [158]:
cat_data_summary['% of missing'] = cat_data_summary['% of missing']*100

In [160]:
cat_data_summary.drop(['Missing Values'], inplace=True, axis = 1)

In [161]:
cat_data_summary

                             Features  unique     count % of missing
0                       Hospital_code      32  318438.0          0.0
1                  Hospital_type_code       7    318438          0.0
2                Hospital_region_code       3    318438          0.0
3   Available Extra Rooms in Hospital      18  318438.0          0.0
4                          Department       5    318438          0.0
5                           Ward_Type       6    318438          0.0
6                  Ward_Facility_Code       6    318438          0.0
7                           Bed Grade       4  318325.0     0.035498
8                   City_Code_Patient      37  313906.0     1.443744
9                   Type of Admission       3    318438          0.0
10                Severity of Illness       3    318438          0.0
11              Visitors with Patient      28  318438.0          0.0
12                                Age      10    318438          0.0
13                               Stay      11    318438          0.0

In [175]:
mode_data = raw_train_data[cat_features].mode().transpose()

In [177]:
mode_data.reset_index(level=0, inplace=True)
#mode_data.rename(columns = {'index': 'Features'}, inplace=True)

In [179]:
mode_data.rename(columns = {'index': 'Features', '0':'Mode'}, inplace=True)

In [180]:
mode_data

                             Features           0
0                  Hospital_type_code           a
1                Hospital_region_code           X
2                          Department  gynecology
3                           Ward_Type           R
4                  Ward_Facility_Code           F
5                   Type of Admission      Trauma
6                 Severity of Illness    Moderate
7                                 Age       41-50
8                                Stay       21-30
9                       Hospital_code          26
10                          Bed Grade         2.0
11                  City_Code_Patient         8.0
12  Available Extra Rooms in Hospital           2
13              Visitors with Patient           2